.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-titulo {
    font-size: 20px;
}

.headerPrincipal-titulo:hover {
    transform: rotate(20deg);
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

.title {
    font-weight: bold;
    font-size: 2em;
    margin: 1em 0;
    text-align: center;
    background-color: rgb(233, 252, 252);
}

.skills__box:hover,
.hobbies__box:hover {
    transform: scale(1.2);
    box-shadow: 0 15px 15px black;
    cursor: pointer;
}


/*presentacion*/

section.presentacion {
    width: 94%;
    margin: 0 auto;
}

.title__div {
    display: flex;
    align-items: center;
}

.title__profile {
    padding: 5%;
    width: 20%;
    border-radius: 130px 130px 130px 130px;
}

h2.titleNombre {
    font-weight: bold;
    font-size: 2em;
}

h3.title__subsection {
    font-size: 1em;
}

li.title__network__item {
    display: inline;
    margin-right: 40px;
}